.heading {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #444444;
}
.main{
    background: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.container-fluid{
    background-color: #f8f8f8;
}
.textArea {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
#formTextarea {
    border: 0.15rem dashed #dddddd;
}
.btn {
    background-color: #cc0000 !important;
}